<!doctype html>
<html lang="en">

<head>
  <%-include('../partials/head.ejs') %>
  <link rel="stylesheet" href="../../public/css/aboutUsstyle.css">

</head>

<body class="bg-black">

  <!-- Header -->
  <header class="p-3 menu-fixed bg">
    <%-include('../partials/header.ejs') %>
  </header>
  <!------------>


  <h1><strong>About Us</strong></h1>
  <h2>Hover over the images for more info</h2>
  <div class="team">
    <div class="container1">
      <img src="../../public/images/hoss.png" alt="Ahmed Hossam's picture" class="image">
      <div class="overlay" id="hoss">
        <div class="text">
          <div class="text">
            <p><strong>Name: </strong>Ahmed Hossam</p>
            <p><strong>ID: </strong>2021/04740</p>
            <p><strong>Email: </strong>ahmed2104740@miuegypt.edu.eg</p>
            <div class="icons">
              <a href="https://www.linkedin.com/in/ahoss/" target="_blank"><img id="ic1" class="iconimg"
                  src="../../public/images/icon1.png" alt="linkedin"></a>
              <a href="https://github.com/actuallyhoss" target="_blank"><img id="ic2" class="iconimg"
                  src="../../public/images/icon2.png" alt="Github"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container1">
      <img src="../../public/images/sara.jpg" alt="Sara's picture" class="image">
      <div class="overlay" id="sara">
        <div class="text">
          <p><strong>Name: </strong>Sara Yasser</p>
          <p><strong>ID: </strong>2021/00416</p>
          <p><strong>Email: </strong>Sara2100416@miuegypt.edu.eg</p>
          <div class="icons">
            <a href="https://linkedin.com/in/-sara-yasser-" target="_blank"><img id="ic1" class="iconimg"
                src="../../public/images/icon1.png" alt="linkedin"></a>
            <a href="https://github.com/SaraYasser-03" target="_blank"><img id="ic2" class="iconimg" src="../../public/images/icon2.png"
                alt="Github"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container1">
      <img src="../../public/images/Gamec.jpg" alt="Adam's picture" class="image">
      <div class="overlay" id="adam">
        <div class="text">
          <p><strong>Name: </strong>Adam Loay</p>
          <p><strong>ID: </strong>2021/00199</p>
          <p><strong>Email: </strong>adam2100199@miuegypt.edu.eg</p>
          <div class="icons">
            <a href="https://www.linkedin.com/in/adam-gahin-363125243/" target="_blank"><img id="ic1" class="iconimg"
                src="../../public/images/icon1.png" alt="linkedin"></a>
            <a href="https://github.com/Gamec12" target="_blank"><img id="ic2" class="iconimg" src="../../public/images/icon2.png"
                alt="Github"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container1">
      <img src="../../public/images/Marina.jpeg" alt="Marina's picture" class="image">
      <div class="overlay" id="marina">
        <div class="text">
          <p><strong>Name: </strong>Marina rizkallah</p>
          <p><strong>ID: </strong>2021/03724</p>
          <p><strong>Email: </strong>marina2103724@miuegypt.edu.eg</p>
          <div class="icons">
            <a href="#" target="_blank"><img id="ic1" class="iconimg" src="../../public/images/icon1.png" alt="linkedin"></a>
            <a href="https://github.com/marina-ishak" target="_blank"><img id="ic2" class="iconimg" src="../../public/images/icon2.png"
                alt="Github"></a>
          </div>
        </div>

      </div>

    </div>
    <div class="container1">
      <img src="../../public/images/square.jpg" alt="Ahmed Yehia's picture" class="image">
      <div class="overlay" id="yehia">
        <div class="text">
          <p><strong>Name: </strong>Ahmed Yehia</p>
          <p><strong>ID: </strong>2021/04556</p>
          <p><strong>Email: </strong>ahmed2104556@miuegypt.edu.eg</p>
          <div class="icons">
            <a href="#" target="_blank"><img id="ic1" class="iconimg" src="../../public/images/icon1.png" alt="linkedin"></a>
            <a href="https://github.com/yehia79" target="_blank"><img id="ic2" class="iconimg" src="../../public/images/icon2.png"
                alt="Github"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--footer-->
  <footer class="footer bg ">
    <%-include('../partials/footer.ejs') %>
  </footer>
  <!---------------->
  <!-- Scripts -->
  <%-include('../partials/scriptLinks.ejs') %>

  <!------->
</body>

</html>