<!doctype html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/addingGameStyle.css">
</head>

<body class="bg-black">

    <!-- <header class="p-3 menu-fixed bg">
    </header> -->
    <!------------>

    <!--Adding games form-->

    <div class="d-flex justify-content-center"> <!--flex centering -->
        <div class="formlayout w-50 h-25 p-4 m-5 rounded-2">
            <!--grid-->
            <form class="row g-3" enctype="multipart/form-data" method="POST" action="/allGames">
                <div class="col-12">
                    <label for="adminName" class="form-label text-white">Name:<span class="asteric">*</span></label>
                    <input type="text" class="form-control" id="adminName" name="adminName"
                        placeholder="Enter your first name">
                </div>
                <div class="col-12">
                    <label for="adminEmail" class="form-label text-white">Email:<span class="asteric">*</span></label>
                    <input type="email" class="form-control" id="adminEmail" name="adminEmail"
                        placeholder="Enter your email">
                </div>

                <div class="col-12">
                    <label for="gameTitle" class="form-label text-white">Game title:<span
                            class="asteric">*</span></label>
                    <input type="text" class="form-control" id="gameTitle" name="gameTitle"
                        placeholder="Enter the title of your game">
                </div>

                <div class="col-12">
                    <label for="gameTitle" class="form-label text-white">Game description:<span
                            class="asteric">*</span></label>
                    <textarea class="form-control" aria-label="With textarea" id="description" name="description"
                    placeholder="Enter the description of your game"></textarea>
                </div>

                <div class="col-12">
                    <label for="price" class="form-label text-white">Price:<span class="asteric">*</span></label>
                    <input type="number" class="form-control" id="price" name="price"
                        placeholder="Enter the price of your game">
                </div>

                <div class="col-12">
                    <div>
                        <label for="genre" class="form-label text-white">Game Genre:<span
                                class="asteric">*</span>
                            </label>
                    </div>
                    <div>
                        <select class="form-select" id="genre" name="genre">
                            <option selected>Open this select menu</option>
                            <option value="action">Action</option>
                            <option value="adventure">Adventure</option>
                            <option value="casual">casual</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        <label for="platform" class="form-label text-white">Platfrom:<span
                                class="asteric">*</span> </label>
                    </div>
                    <div>
                        <select class="form-select" id="platform" name="platform">
                            <option selected>Open this select menu</option>
                            <option value="macos">Mac OS</option>
                            <option value="windows">Windows</option>
                            <option value="mac_windows">Mac OS & Windows</option>
                        </select>
                    </div>
                </div>

                <div class="col-12">
                    <div><label class="form-label text-white" for = "poster">Game Poster:</label><span class="asteric">*</span></div>
                    <div class="input-group mb-3"><input type="file" class="form-control" id="poster" name="poster"></div>
                </div>

                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <a href="/allGames" class="btn btn-outline-primary mt-3 mx-2">Cancel</a>
                        <button type="submit" class="btn btn-primary mt-3">Add Game</button>
                    </div>
                </div>
            
            </form>
        </div>
    </div>
    <!---------->

    <!--footer-->
    <!-- <footer class="footer bg ">
    </footer> -->
    <!---------------->
    <!-- Scripts -->
    <%- include ('../partials/scriptLinks') %>

</body>

</html>