<!doctype html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
        <link rel="stylesheet" href="../../public/css/addingGameStyle.css">
</head>

<body class="bg-black">

    <header class="p-3 menu-fixed bg">
        <%-include('../partials/header.ejs') %>
    </header>


    <!------------>

    <!--Adding games form-->

    <div class="d-flex justify-content-center"> <!--flex centering -->
        <div class="formlayout w-50 h-25 p-4 m-5 rounded-2">
            <div class="h3 text-white mb-5 text-center"><b>Add Your Game</b></div>
            <!--grid-->
            <form class="row g-3" enctype="multipart/form-data" method="POST" action="/allGames">
                <div class="col-12">
                    <div class="mb-3 row">
                        <label for="staticName" class="col-sm-2 col-form-label text-white">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext text-white" id="staticName"
                                value="name">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label text-white">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext text-white" id="staticEmail"
                                value="email@example.com">
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="gameTitle" class="form-label text-white">Game title:<span
                            class="asteric">*</span></label>
                    <input type="text" class="form-control" id="gameTitle" name="gameTitle"
                        placeholder="Enter the title of your game">
                </div>

                <div class="col-12">
                    <label for="gameTitle" class="form-label text-white">Game description:<span
                            class="asteric">*</span></label>
                    <textarea class="form-control" aria-label="With textarea" id="description" name="description"
                        placeholder="Enter the description of your game"></textarea>
                </div>

                <div class="col-12">
                    <label for="price" class="form-label text-white">Price:<span class="asteric">*</span></label>
                    <input type="number" class="form-control" id="price" name="price"
                        placeholder="Enter the price of your game">
                </div>

                <div class="col-12">
                    <div>
                        <label for="genre" class="form-label text-white">Game Genre:<span class="asteric">*</span>
                        </label>
                    </div>
                    <div>
                        <select class="form-select" id="genre" name="genre">
                            <option selected>Open this select menu</option>
                            <option value="action">Action</option>
                            <option value="action_adventure">Action-Adventure</option>
                            <option value="adventure">Adventure</option>
                            <option value="casual">Card Game</option>
                            <option value="casual">Casual</option>
                            <option value="casual">City Builder</option>
                            <option value="casual">Comedy</option>
                            <option value="casual">Dungeon Crawler</option>
                            <option value="casual">Exploration</option>
                            <option value="casual">Fantasy</option>
                            <option value="casual">Fighting</option>
                            <option value="casual">First Person</option>
                            <option value="casual">Horror</option>
                            <option value="casual">Indie</option>
                            <option value="casual">MOBA</option>
                            <option value="casual">Music</option>
                            <option value="casual">Narration</option>
                            <option value="casual">Open World</option>
                            <option value="casual">Party</option>
                            <option value="casual">Platformer</option>
                            <option value="casual">Puzzle</option>
                            <option value="casual">Racing</option>
                            <option value="casual">Retro</option>
                            <option value="casual">Rogue-Lite</option>
                            <option value="casual">RPG</option>
                            <option value="casual">RTS</option>
                            <option value="casual">Shooter</option>
                            <option value="casual">Simulation</option>
                            <option value="casual">Space</option>
                            <option value="casual">Sports</option>
                            <option value="casual">Stealth</option>
                            <option value="casual">Strategy</option>
                            <option value="casual">Survival</option>
                            <option value="casual">Tower Defense</option>
                            <option value="casual">Trivia</option>
                            <option value="casual">Turn-Based</option>
                            <option value="casual">Turn-Based Strategy</option>

                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        <label for="platform" class="form-label text-white">Platfrom:<span class="asteric">*</span>
                        </label>
                    </div>
                    <div>
                        <select class="form-select" id="platform" name="platform">
                            <option selected>Open this select menu</option>
                            <option value="macos">Mac OS</option>
                            <option value="windows">Windows</option>
                            <option value="mac_windows">Mac OS & Windows</option>
                        </select>
                    </div>
                </div>

                <div class="col-12">
                    <div><label class="form-label text-white" for="poster">Game Poster:</label><span
                            class="asteric">*</span></div>
                    <div class="input-group mb-3"><input type="file" class="form-control" id="poster" name="poster">
                    </div>
                </div>

                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <a href="/allGames" class="btn btn-outline-primary mt-3 mx-2">Cancel</a>
                        <button type="submit" class="btn btn-primary mt-3">Add Game</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!---------->

    <!--footer-->
    <footer class="footer bg">
        <%- include('../partials/footer') %>
    </footer>
    <!---------------->

    <!-- Scripts -->
    <%- include ('../partials/scriptLinks') %>

</body>

</html>