<!doctype html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="../../public/css/allGamesStyle.css">
</head>

<body class="bg-black">
    <!-- Header -->
    <header class="p-3 menu-fixed bg">
        <%- include ('../partials/header.ejs') %>
    </header>
    <!------------>

    <!-------body------->
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="col-sm-12 col-lg-3 text-md-center  my-3 mx-auto" style="width: 15rem ">
                    <img src="../../public/images/gameimages/Digital Deluxe.png" class=" img-fluid mx-auto  libraryItem  "
                        alt="Photo of a game">
                </div>

            </div>

            <div class="col-4 mt-5 mb-5">
                <div>
                    <label class="text-light mb-2">Filters </label>
                </div>

                <div>
                    <input class="form-control inputbg bg-dark text-light" type="text" placeholder="Keywords">
                </div>

                <div class="accordion accordion-flush" id="accordionExample">
                    <div class="accordion-item">
                        <div class="border-bottom border-dark">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    Price
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="con">
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options">Free</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options">Under $5.00</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options">Under $10.00</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options">Under $20.00</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options">Under $30.00</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options">$14.99 and above </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options">Discounted</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-item">
                            <div class="border-bottom border-dark">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo"> Genre
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="con">
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Action</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Action-Adventure</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" class="css-1jdqhvm" role="checkbox"
                                                    tabindex="0">
                                                    <div class="css-19ycfao">Adventure</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Card Game</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Casual</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">City Builder</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Comedy</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Dungeon Crawler</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Exploration</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Fantasy</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Fighting</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">First Person</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Horror</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Indie</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">MOBA</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Music</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Narration</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Open World</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Party</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Platformer</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Puzzle</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Racing</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Retro</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Rogue-Lite</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">RPG</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">RTS</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Shooter</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Simulation</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Space</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Sports</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Stealth</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Strategy</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Survival</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Tower Defense</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Trivia</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Turn-Based</div>
                                                </div>
                                            </div>
                                            <div>
                                                <div aria-checked="false" role="checkbox" tabindex="0">
                                                    <div class="options">Turn-Based Strategy</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="accordion-item">
                            <div class="border-bottom border-dark">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                        Platform
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options">Mac OS</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div aria-checked="false" role="checkbox" tabindex="0">
                                                <div class="options">Windows</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!------------------>


    <!--footer-->
    <footer class="footer bg">
        <%- include('../partials/footer') %>
    </footer>
    <!---------------->

    <!-- Scripts -->
    <%- include ('../partials/scriptLinks')%>
    <!------->
</body>

</html>