<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include ('../partials/head.ejs') %>
        <link rel="stylesheet" href="public/css/contactus.css">
    </head>
    
    <body class="bg-black">

        <!-- Header -->
        <header class="p-3 menu-fixed bg">
            <%- include ('../partials/header.ejs') %>
        </header>
        <!------------>

        <!--massaging option-->

        <div class="containerr mt-2 mb-3">
            <div class="card bg-dark mx-auto messagebox">
                <div class="card-header bg-">
                    <div class="navbar navbar-expand p-0">
                        <ul class="navbar-nav me-auto ">
                            <li class="nav-item">
                                <a href="#!" class="nav-link">
                                    <div class="position-relative">
                                        <img src="img/account.png" class="img-fluid rounded-circle" alt="account img">
                                    </div>
                                </a>
                            </li>
                            <li class="nav-link mt-1 text-white">Admin</li>
                        </ul>

                    </div>
                </div>
                <div id="color" class="card-body p-4" style="height: 500px; overflow: auto;">
                    <div class="d-flex align-items-baseline mb-4">
                        <div class="position-relative avatar bk">
                            <img src="img/account.png" class="img-fluid rounded-circle" alt="">
                        </div>
                        <div class="pe-2">
                            <div>
                                <div class="card card-text d-inline-block p-2 px-3 m-1"> Is there available to
                                    chat?
                                </div>
                            </div>
                            <div>
                                <div class="small">01:10PM</div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-baseline text-end justify-content-end mb-4">
                        <div class="pe-2">
                            <div>
                                <div class="card card-text d-inline-block p-2 px-3 m-1">Sure</div>
                            </div>
                            <div>
                                <div class="card card-text d-inline-block p-2 px-3 m-1">Let me know when you're
                                    available?
                                </div>
                            </div>
                            <div>
                                <div class="small">01:13PM</div>
                            </div>
                        </div>
                        <div class="position-relative avatar">
                            <img src="img/account.png" class="img-fluid rounded-circle" alt="">

                        </div>
                    </div>

                    <div class="d-flex align-items-baseline mb-4">
                        <div class="position-relative avatar">
                            <img src="img/account.png" class="img-fluid rounded-circle" alt="">

                        </div>
                        <div class="pe-2">
                            <div>
                                <div class="card card-text d-inline-block p-2 px-3 m-1">3:00pm??</div>
                            </div>
                            <div>
                                <div class="small">Edited - 01:13PM</div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-baseline text-end justify-content-end mb-4">
                        <div class="pe-2">
                            <div>
                                <div class="card card-text d-inline-block p-2 px-3 m-1">Cool</div>
                            </div>
                            <div>

                            </div>
                        </div>
                        <div class="position-relative avatar">
                            <img src="img/account.png" class="img-fluid rounded-circle" alt="">

                        </div>
                    </div>
                    <form>
                        <input type="text" class="form-control border-0" placeholder="Write a message...">
                        <div class="input-group-text bg-transparent border-0 text-center">
                            <button class="btn btn-primary ">send
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!------>

        <!--footer-->
        <footer class="footer bg">
            <%- include('../partials/footer') %>
        </footer>
        <!--------->
        <!-- Scripts -->
        <%- include ('../partials/scriptLinks.ejs') %>
        <!------->
    </body>

</html>