<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="img/logo.png" type="image/x-icon">

  <title>Gamec</title>
  <!--links-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.2.3/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>



  <!---->
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
  <!----------->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!------------------->

  <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-black">

  <!-- Header -->
  <header class="p-3 menu-fixed bg">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="index.html" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="img/logo.png" alt="logo" width="40" height="40">
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 " onsubmit="return validateSearch(this)" role="search">
            <input id="search" type="search" class="form-control" placeholder="Search..." aria-label="Search">
          </form>
          
          <li>
            <div class="dropdown">
            <button type="button" class="btn dropdown text-light" data-bs-toggle="dropdown">Account
            </button>
            <ul class="dropdown-menu bgcolor">
              <li><a class="dropdown-item text-light lihov" href="profile.html">Profile</a></li>
              <li><a class="dropdown-item text-light lihov" href="library.html">Library</a></li>
              <li><a class="dropdown-item text-light lihov" href="history.html">History</a></li>
              <li><a class="dropdown-item text-light lihov" href="wishlist.html">Wishlist</a></li>
            </ul>
          </div>
        </li>


          <li><a href="aboutUs.html" class="nav-link px-2 text-light mt-2">About Us</a></li>
          <li><a href="contactus.html" class="nav-link px-2 text-light mt-2">Contact Us</a></li>
          <li><a id="scrol_to" class="nav-link px-2 text-light btn mt-2">FAQs</a></li>

        </ul>
        <div class="text-end">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="login.html" class="btn btn-outline-primary mx-2" href="login.html" role="button">Login</a></li>
            <li><a class="btn btn-primary" href="signup.html" role="button">Sign up</a></li>
            <li><a href="cart.html" class="nav-link px-2 text-light mt-2"><i class="bi bi-cart3"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!------------>

  <!---slideshow--->
  <div class="container-fluid  text-center text-light mb-1 mt-3">
    <div class="row">
      <div class="col-12">
        <h2>Featured Games</h2>
      </div>
    </div>
  </div>

  <div class="containerr">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-white"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-white"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="bg-white"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="bg-white"
          aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="bg-white"
          aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" class="bg-white"
          aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" class="bg-white"
          aria-label="Slide 7"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4500">
          <img src="img/CrimeBoss.jpg" class="d-block w-100 carImage" alt="Crime Boss image">
          <div class="carousel-caption d-none d-md-block overlay">
            <div class="text">
              <h5>Crime Boss</h5>
              <div class="rspac">Rockay city</div>
              <div class="cmText">Coming soon </div>
              <p class="slidepara">Crime Boss: Rockay City is an organized crime game combining first-person
                shooter action and turf wars, playable solo or with friends. Take on the role of Travis Baker
                – a man with his sights set on becoming the new King of Rockay City, one crime at a time…</p>
            </div>
            <div class="text Pbt">
              <p class="slidepara pricpara">starting at <span class="cross">$20.99</span><span
                  class="repr">$16.79</span></p>
              <a href="gamePage.html"><button type="button" class="botbtn">Pre-purchase now</button></a>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="4500">
          <img src="img/battlefield.jpg" class="d-block w-100 carImage" alt="battlefield image">
          <div class="carousel-caption d-none d-md-block overlay">
            <div class="text">
              <h5>battlefield</h5>
              <div class="rspac">2042</div>
              <div class="cmText">Free</div>
              <p class="slidepara">Battlefield™ 2042 marks the return to the iconic all-out warfare of
                the franchise. Squad up and bring a cutting-edge arsenal into massive-scale battlegrounds,
                set in a near-future world transformed by disorder.</p>
            </div>
            <div class="text Pbt">
              <p class="slidepara pricpara">Sale ends 16/3/2023</p>
              <a href="gamePage.html"><button type="button" class="botbtn">Play for free</button></a>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="4500">
          <img src="img/callofthesea.jpg" class="d-block w-100 carImage" alt="call of the sea image">
          <div class="carousel-caption d-none d-md-block overlay">
            <div class="text">
              <h5>Call of the sea</h5>
              <div class="cmText">Free now</div>
              <p class="slidepara">Call of the Sea is an otherworldly tale of mystery and love set in the
                1930s South Pacific. Explore a lush island paradise, solve puzzles and unlock secrets in the
                hunt for your husband’s missing expedition.</p>
            </div>
            <div class="text Pbt">
              <p class="slidepara pricpara">Sale ends 16/3/2023</p>
              <button type="button" class="botbtn">Play for free</button>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="4500">
          <img src="img/RocketLeague.jfif" class="d-block w-100 carImage" alt="Rocket League image">
          <div class="carousel-caption d-none d-md-block overlay">
            <div class="text">
              <h5>Rocket League</h5>
              <div class="cmText"> season 10 is out now!</div>
              <p class="slidepara">Rocket League is a high-powered hybrid of arcade-style soccer and
                vehicular mayhem with easy-to-understand controls and fluid, physics-driven competition.</p>
            </div>
            <div class="text Pbt">
              <p class="slidepara pricpara">SALE ENDS 16/3/2023</p>
              <a href="gamePage.html"><button type="button" class="botbtn">Play for free</button></a>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="4500">
          <img src="img/redFall.jpg" class="d-block w-100 carImage" alt="redfall image">
          <div class="carousel-caption d-none d-md-block overlay">
            <div class="text">
              <h5>Red fall</h5>
              <div class="cmText">Coming april 10 </div>
              <p class="slidepara">The town of Redfall is under siege by a legion of vampires who have cut
                the island off from the outside world. Trapped with a handful of survivors,
                slay alone or squad up in open-world FPS action.</p>
            </div>
            <div class="text Pbt">
              <p class="slidepara pricpara">starting at <span class="repr">$40.79</span></p>
              <a href="gamePage.html"><button type="button" class="botbtn">Pre-purchase now</button></a>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="4500">
          <img src="img/hogwartsLegacy.jpg" class="d-block w-100 carImage" alt="Hogwarts Legacy image">
          <div class="carousel-caption d-none d-md-block overlay">
            <div class="text">
              <h5>Hogwarts Legacy</h5>
              <div class="cmText">Out now </div>
              <p class="slidepara">Hogwarts Legacy is an immersive, open-world action RPG.
                Now you can take control of the action and be at the center of your own adventure in
                the wizarding world.</p>
            </div>
            <div class="text Pbt">
              <p class="slidepara pricpara">starting at <span class="repr">$79.99</span></p>
              <a href="gamePage.html"><button type="button" class="botbtn">Buy now</button></a>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="4500">
          <img src="img/fortnite.avif" class="d-block w-100 carImage" alt="Fortnite image">
          <div class="carousel-caption d-none d-md-block overlay">
            <div class="text">
              <h5>Fortnite</h5>
              <div class="rspac">Rockay city</div>
              <div class="cmText">new season </div>
              <p class="slidepara">Grab all of your friends and drop into Gamec Games' Fortnite,
                a massive 100-player face-off that combines looting, crafting, shootouts and chaos.
                The result is a completely unpredictable competitive online experience that gets bigger
                and even wilder with every new season.</p>
            </div>
            <div class="text Pbt">
              <p class="slidepara pricpara">free</p>
              <a href="gamePage.html"><button type="button" class="botbtn">Play for free</button></a>
            </div>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!--------->

  <!------cards (1)------>
  <div class="container-fluid  text-center text-light mb-1 mt-2">
    <div class="row">
      <div class="col-12">
        <h2>Top Sellers</h2>
      </div>
    </div>
  </div>

  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\image1.jpg" class="card-img-top" alt="Genesis poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">Genesis</h5>
                <p class="game-price">$69.99</p>
              </div>
            </div>
          </a>
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\image2.jpg" class="card-img-top" alt="Space Invaders poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">Space Invaders</h5>
                <p class="game-price">$49.99</p>
              </div>
            </div>
          </a>
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\image3.jpg" class="card-img-top" alt="Batman poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">Batman</h5>
                <p class="game-price">$59.99</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\image4.jpg" class="card-img-top" alt="The Simpsons game poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">The Simpsons game</h5>
                <p class="game-price">$50.29</p>
              </div>
            </div>
          </a>
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\image5.jpg" class="card-img-top" alt="Final Fantasy poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">Final Fantasy</h5>
                <p class="game-price">$35.55</p>
              </div>
            </div>
          </a>
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\image6.jpg" class="card-img-top" alt="Fallout 2 poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">Fallout 2</h5>
                <p class="game-price">$45.99</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\image7.jpg" class="card-img-top" alt="Farscape poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">Farscape</h5>
                <p class="game-price">$60.99</p>
              </div>
            </div>
          </a>
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\image8.jpg" class="card-img-top" alt="BasketBall poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">BasketBall</h5>
                <p class="game-price">$30.99</p>
              </div>
            </div>
          </a>
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\image9.jpg" class="card-img-top" alt="God of war poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">God of war</h5>
                <p class="game-price">$80.20</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--------->


  <!---cards (2)--->
  <div class="container-fluid  text-center text-light mb-1 mt-3">
    <div class="row">
      <div class="col-12">
        <h2>Top Upcoming Wishlisted</h2>
      </div>
    </div>
  </div>

  <div id="carousel2" class="carousel slide mb-5">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\download.jfif" class="card-img-top images" alt="Assassin's Creed Mirage poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">Assassin's Creed Mirage</h5>
                <p class="game-subtitle">Coming Soon</p>
              </div>
            </div>
          </a>
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\the last.webp" class="card-img-top images" alt="The Last of Us Part I poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">The Last of Us Part I</h5>
                <p class="game-subtitle">Available 2024</p>
              </div>
            </div>
          </a>
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\Witchfire.png" class="card-img-top images" alt="Witchfire poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">Witchfire</h5>
                <p class="game-subtitle">Available 28/04/23</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\the-lamplighters-league.jpg" class="card-img-top images"
                  alt="The Lamplighters League poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">The Lamplighters League</h5>
                <p class="game-subtitle">Coming Soon</p>
              </div>
            </div>
          </a>
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\images.jfif" class="card-img-top images" alt="Touch Type Tale poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">Touch Type Tale</h5>
                <p class="game-subtitle">Available 28/08/23</p>
              </div>
            </div>
          </a>
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\Age Of Wonders 4.jpg" class="card-img-top images" alt="Age Of Wonders 4 poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">Age Of Wonders 4</h5>
                <p class="game-subtitle">Coming Soon</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\Trails_into_Reverie_Cover_Art.jpg" class="card-img-top images"
                  alt="Trails into Reverie poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">The Legend of Heroes</h5>
                <p class="game-subtitle">Available 08/10/23 </p>
              </div>
            </div>
          </a>
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\Eternights.jpg" class="card-img-top images images" alt="Eternights Poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">Eternights</h5>
                <p class="game-subtitle">Coming Soon</p>
              </div>
            </div>
          </a>
          <a href="gamePage.html">
            <div class="card" style="width: 18rem;">
              <div class="image-wrapper">
                <img src="img\tile.jpg" class="card-img-top images" alt="Boundless Trails poster">
              </div>
              <div class="card-body">
                <h5 class="game-title">Boundless Trails</h5>
                <p class="game-subtitle">Available 2024</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Prev</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Nex</span>
    </button>
  </div>
  <!--------->

  <!--FAQs-->
  <section id="faq" class="py-md-5 ">
    <h2 class="my-5 text-center text-white ">FAQs</h2>
    <div class="container">
      <div class="accordion w-75 mx-auto" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header " id="headingOne">
            <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Which platforms does the Gamec Games Store support?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body bg-dark text-white">
              <strong>The Gamec Games Store currently offers PC and Mac support.</strong> You can check
              platform compatibility for individual titles by referring to the "Specifications" section of any
              product page.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Can I try a game before I buy it?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body bg-dark text-white">
              <strong>Some publishers occasionally offer demos or free trial periods for certain non-free
                games from time to time (for example, a Free Weekend trial). During a free trial period, you
                can download and play a trial version of the game before you decide to purchase,</strong>
              but you can no longer access the game when the trial period ends.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              What languages does the Gamec Games Store support?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body bg-dark text-white">
              <strong>The Epic Games Store currently supports English, Arabic, German, Spanish (Spain),
                Spanish (Latin America), French, Italian, Japanese, Korean, Polish, Portuguese, Russian,
                Thai, Turkish,</strong> Simplified Chinese, and Traditional Chinese. In-game language
              support varies per game, as provided by the developer; check each game has store page for
              language
              availability.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-------->

  <!--footer-->
  <footer class="footer bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-about">
            <div class="footer-logo">
              <a href="index.html"><img src="img/logo.png" alt="logo" width="50%"></a>
            </div>
            <p>payment methods</p>
            <a href="#"><img src="img/payment.png" alt="logo" width="30%"></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-wedget">
            <h6>shopping</h6>
            <ul>
              <li><a href="#">Games </a></li>
              <li><a href="#"> trending Games </a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-wedget">
            <h6>LINKS</h6>
            <ul>
              <li><a href="#">Contact us</a></li>
              <li><a href="#"> Payment methods </a></li>
              <li><a href="#"> Return and Exchanges </a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-wedget">
            <h6>Newsletter</h6>
            <div class="footer-newslatter">
              <p class="footertext">Be the first to know about new arrivals,sales & promos!</p>
              <form action="#">
                <input type="text" class="footeremail" placeholder="Your Email">
                <button type="submit"><span><i class="fa fa-envelope" arial-hidden="true"></i></span> submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="footer-copyright-text">
            <p class="footertext"> Copyright &copy; 2023 All rights reserved | This website is made with love <i
                class="fa fa-heart-o" aria-hidden="true"></i> by <a href="aboutUs.html">Gamec Group</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!---------------->
  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="src/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="js/FQAs.js"></script>
  <script src="js/validations.js"></script>

  <!------->
</body>


</html>