<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="../../public/css/loginstyle.css">
</head>

<body class="bgimg">
    <!-- Header -->
    <header class="p-3 menu-fixed bg">
        <%- include ('../partials/header.ejs') %>
    </header>
    <!------------>

    <!--log in form-->
    <div class="d-flex justify-content-end m-5 ms-0"> <!--flex centering -->
        <div class="formlayout p-5 m-5 w-25 h-100 rounded-4">
            <div class="h2 mb-5 text-white text-center"><strong>Hello Again!</strong></div>
            <!--grid-->

            <form class="row g-3" action="/login" method="post" onsubmit="return validateLogin(this)">
                <div class="col-12">
                    <label for="email" class="form-label text-white">username<span class="asteric">*</span></label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter your username">
                    <div id="emailError"></div>
                </div>
                <div class="col-12">
                    <label for="password" class="form-label text-white">Password<span class="asteric">*</span></label>
                    <input type="password" class="form-control" name="password" id="password"
                        placeholder="Enter your password">
                    <div id="passwordError"></div>
        
                </div>

                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <div class="p-2 mt-3 mx-2"><button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <div class="p-2 mt-3 mx-2"><a href="/signup"><button type="button"
                                    class="btn btn-outline-primary">Register</button></a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>






    <!-- <div class="d-flex justify-content-center">
  <div class="ms-5 mb-5 mt-3">
      <img src="img/Let'sPlay.jpg" class="img-fluid" alt="welcome">
    </div> 


    <div class="mb-5 mt-5 me-3">
      <div class="d-flex align-content-center"> 

        <div class="formlayout rounded w-50 p-5">


          <form class="row g-3" action="" method="get" onsubmit="return validateLogin(this)">
            <div class="col-12">
              <label for="email" class="form-label text-white">Email<span class="asteric">*</span></label>
              <input type="email" class="form-control" id="email" placeholder="Enter your email">
              <div id="emailError"></div>
            </div>

            <div class="col-12">
              <label for="password" class="form-label text-white">Password<span class="asteric">*</span></label>
              <input type="password" class="form-control" id="password" placeholder="Enter your password">
              <div id="passwordError"></div>
            </div>

            <div class="col-12">
              <div class="d-flex justify-content-center">
                <div class="p-2 mt-3 mx-2"><button type="submit" class="btn btn-primary">Login</button></div>
                <div class="p-2 mt-3 mx-2"><a href="signup.html"><button type="button"
                      class="btn btn-outline-primary">Register</button></a>
                </div>
              </div>
            </div>
          </form>

      </div>
    </div>
    </div>
  </div> -->

    <!--footer-->
    <footer class="footer bg">
        <%- include('../partials/footer') %>
    </footer>
    <!-- Scripts -->
    <%- include('../partials/scriptLinks') %>
</body>
</html>