<!doctype html>
<html lang="en">

    <head>
        <%- include ('../partials/head.ejs') %>
            <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
            <script defer src="../../public/Js/validations.js"></script>
            <script defer src="../../public/Js/ajax.js"></script>
            <link rel="stylesheet" href="../../public/css/signupstyle.css">
    </head>

    <body class="bgimg">

        <!-- Header -->
        <header class="p-3 menu-fixed bg">
            <%- include ('../partials/header.ejs') %>
        </header>
        <!------------>

        <!--sign up form-->

        <div class="d-flex justify-content-center"> <!--flex centering -->
            <div class="formlayout w-50 h-25 p-4 m-5">
                <div class="h3 text-white mb-5 text-center"><strong class="fw-bold">Sign Up</strong> to unleash the
                    gamer within
                    you!</div>
                <!--grid-->
                <form class="row g-3" action="/signup" method="post" onsubmit="return validate(this)">
                    <div class="col-12">
                        <label for="name" class="form-label text-white">User Name<span class="asteric">*</span></label>
                        <input type="text" class="form-control" id="name" name="name"
                            placeholder="Enter your first name">
                        <div id="result"></div>
                        <div class="div" id="nameError"></div>

                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label text-white">Email<span class="asteric">*</span></label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailhelp"
                            placeholder="Enter your email">
                        <div class="div" id="emailError"></div>
                        <div id="emailhelp" class="form-text text-secondary">test@example.com</div>
                    </div>

                    <div class="col-12">
                        <label for="password" class="form-label text-white">Password<span
                                class="asteric">*</span></label>
                        <input type="password" class="form-control" id="password" name="password"
                            aria-describedby="passwordhelp" placeholder="Enter your password">
                        <div class="div" id="passwordError"></div>
                        <div id="passwordhelp" class="form-text text-secondary"> Your password must be 8-20 characters
                            long,
                            contain letters and numbers, and must not contain spaces, special characters, or emoji.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="confirmPassword" class="form-label text-white">Confirm Password<span
                                class="asteric">*</span></label>
                        <input type="password" class="form-control" id="confirmPassword"
                            placeholder="Re-Enter your password">
                        <div class="div" id="confirmPasswordError"></div>
                    </div>

                    <div class="col-12">
                        <label for="dob" class="form-label text-white">Date of Birth<span
                                class="asteric">*</span></label>
                        <input type="date" class="form-control" name="dob" id="dob">
                        <div class="div" id="dobError"></div>
                    </div>

                    <div class="col-12">
                        <label class="form-label text-white">Gender</label>
                        <div class="d-flex flex-row mb-3">
                            <div class="flex-fill">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="female"
                                        value="Female">
                                    <label class="form-check-label text-white" for="female">Female</label>
                                </div>
                            </div>

                            <div class="flex-fill">
                                <div class="form-check form-check-inline mx-3">
                                    <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                                    <label class="form-check-label text-white" for="male">Male</label>
                                </div>
                            </div>
                        </div>

                        <div class="div" id="checboxError"></div>
                    </div>

                    <div class="col-12">
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary mt-3">Sign up</button>
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="d-flex justify-content-center">
                            <a href="/login" class="acc">Already have an account?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!---------->

        <!--footer-->
        <footer class="footer bg ">
            <%- include('../partials/footer') %>
        </footer>
        <!---------------->
        <!-- Scripts -->
        <%- include ('../partials/scriptLinks.ejs') %>
    </body>

</html>