<!doctype html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>

    <link rel="stylesheet" href="../../public/css/style.css">

</head>

<body class="bg-black">

    <!-- Header -->
    <header class="p-3 menu-fixed bg">
        <%- include ('../partials/header.ejs') %>
    </header>
    <!------------>

    <!--sign up form-->

    <div class="d-flex justify-content-center"> <!--flex centering -->
        <div class="formlayout w-50 h-25 p-4 m-5">
            <!--grid-->
            <form class="row g-3">
                <div class="col-12">
                    <label for="adminName" class="form-label text-white">Name<span class="asteric">*</span></label>
                    <input type="text" class="form-control" id="adminName" name="adminName" placeholder="Enter your first name">
                </div>
                <div class="col-12">
                    <label for="adminEmail" class="form-label text-white">Email<span class="asteric">*</span></label>
                    <input type="email" class="form-control" id="adminEmail" name="adminEmail" 
                    placeholder="Enter your email">
                </div>

                <div class="col-12">
                    <label for="gameTitle" class="form-label text-white">Game title:<span class="asteric">*</span></label>
                    <input type="text" class="form-control" id="gameTitle" name="gameTitle"
                     placeholder="Enter The title of your game">
                </div>

                <div class="col-12">
                    <label for="price" class="form-label text-white">Price:<span
                            class="asteric">*</span></label>
                    <input type="number" class="form-control" id="price" name="price"
                        placeholder="Enter the price of your game">
                </div>

                <div class="col-12">
                    <label for="genre" class="form-label text-white">Game's genre:<span class="asteric">*</span></label>
                    <select id="genre"name="genre" >
                        <option value="action">Action</option>
                        <option value="adventure">Adventure</option>
                        <option value="casual">casual</option>
                    </select>
                </div>

                <div class="col-12">
                    <label class="form-label text-white">Game Image</label>
                    <input style = "color:white" type = "file" id="image" name="image">
                </div>

                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mt-3">Add new Game</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!---------->

    <!--footer-->
    <footer class="footer bg ">
        <%- include('../partials/footer') %>
    </footer>
    <!---------------->
    <!-- Scripts -->
    <%- include ('../partials/scriptLinks') %>

</body>

</html>