.accordion-button{
    color: #585858;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    background-color: black;
}

.accordion-button:focus{
    background-color: black;
    color: white;
    box-shadow: none;
    border: 1px solid white;
}

.accordion-button:hover{
    cursor: pointer;
    color:white;
}

.accordion-item{
    border: none;
}

.accordion-body{
    background-color: black;
    color: #585858;
}

.options:hover{
    cursor: pointer;
    color: white;
}

.inputbg{
    border: none;
}

.accordion-button:not(.collapsed){
    color: #585858; 
    background-color: black;
    box-shadow: none;
}

/* cards*/
.gameCard:hover{
    cursor:pointer;
    scale: 1.01;
    transition: 0.5s ease;
    box-shadow: 0 4px 9px 0 #0d6efd;
}

.genre{
    font-family: 'Inter','monospace', 'sans-serif';
    font-size: 9px;
}

.title{
    font-size: 14px;
    font-family: 'Inter','monospace', 'sans-serif';
}

.price{
    font-size: 14px;
    font-family: 'Inter','monospace', 'sans-serif';
}


