
/*body*/
.btn-primary {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: dodgerblue;
    width: 350px;
    height: 55px;
    padding-top: 15px;
}

.alignleft {
    float: left;
    font-size: 18px;
    color: #fff;
}

.alignright {
    float: right;
    font-size: 18px;
    color: #fff;
}
.alignleft1 {
    float: left;
    font-size: 14px;
    color: #fff;
}

.alignright1 {
    float: right;
    font-size: 14px;
    color: #fff;
}

.line {
    height: 0.1px;
    background: #b5b1b1e5;
    margin-bottom: 10px;
}

.header {
    color: #fff;
    font-size: 40px;
    line-height: 35px;
    margin-bottom: 30px;

}

.card-3 {
    background-color: rgb(32, 32, 32);
    max-width: 540px;
    
}

.img-fluid {
    margin: 20px;

}
.cartImage {
    max-width: 300px;
    max-height: 250px;
}

.game-price {
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}

.mycart {
    font-weight: bold;
    font-size: 50px;
}

.price1 {
    font-size: 18px;
    padding-left: 240px;

}

.removeText {
    text-decoration: underline;
}

.removeText:hover {
    text-decoration: none;
}

.game-name {
    padding-left: 15px;
    font-size: 31px;
}

.btn {
    color: #fff;
    text-align: left;
}