/*body*/

.position-relative {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #007bff;
    padding: 2px;
}

a.nav-link {
    color: #f3f3f3;
    font-size: 18px;
    padding: 0;
}

input:focus {
    outline: 0px;
    box-shadow: none;
}

.containerr {
    padding: 30px;
    margin: 50px;
}

.card-text {
    border: 2px solid #ddd;
    border-radius: 8px;
}

.messagebox{
    width: 900px;
    height: 610px;

}