.bg {
    background-color: #212529;
}


img {
    object-fit: cover;
}

.buyButton:hover {
    background-color: #007bff;
    color: white;
    border: none;
    scale: 0.99;
}


.circle {
    border-radius: 100px;
}

button {
    border: none;
    transition: 0.5s ease;
}