* {
    font-family: "Barlow", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg{
    background-color: #212529;
}

.menu input {
    margin-left: 10px;
}

.list {
    font-size: 14px;
} 

in style.css .user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

a.nav-link {
    color: gray;
    font-size: 15px;
    padding: 0;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #e84118;
    padding: 2px;
    flex: none;
}

input:focus {
    outline: 0px !important;
    box-shadow: none !important;
}

.card-text {
    border: 2px solid #ddd;
    border-radius: 8px;
}


.loginbtn:hover{
    text-decoration: underline #007bff;
}

.bgcolor{
    background-color: #212529;
}

.lihov:hover{
    background-color:black;
    opacity: 0.3;
}

