
/*form*/
.bgimg{
    background-image: url("./../images/bkg.gif");
}

.formlayout {
    background-color: rgb(33, 37, 41,0.8)
}

.containerlog {
    font-family: 'Almarai', sans-serif;
    display: flex;
    margin: 20px 160px;
}

.asteric {
    color: red;
}

.head3 {
    font-size: 30px;
    text-align: center;
}

.acc {
    color: #212529bf;
    margin-left: 170px;
}