.bgimg{
    background-image: url("./../images/bkg.gif");
}

.asteric {
    color: red;
}

strong{
    font-weight: bolder;
}

.acc {
    color: #f7f8f8bf;
}

.bullets {
    display: flex;
    align-items: center;
}

.err{
    color: red;
}

.formlayout{
    background-color: rgb(33, 37, 41,0.8);
}