          <div class="col-12">
            <label for="name" class="form-label"
              >Game title:<span class="asteric">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Enter the title of your game"
              value='<%= typeof game != "undefined" ? game.name : "" %>'
            />
          </div>

          <div class="col-12">
            <label for="mainDescription" class="form-label"
              >Game Main Description:<span class="asteric">*</span></label
            >
            <textarea
              class="form-control"
              aria-label="With textarea"
              id="mainDescription"
              name="mainDescription"
              placeholder="Enter the main description of your game"
            ><%= typeof game != "undefined" ? game.mainDescription : "" %></textarea>
          </div>

          <div class="col-12">
            <label for="sideDescription" class="form-label"
              >Game Details<span class="asteric">*</span></label
            >
            <textarea
              class="form-control"
              aria-label="With textarea"
              id="sideDescription"
              name="sideDescription"
              placeholder="Enter the side description of your game"
            ><%= typeof game != "undefined" ? game.sideDescription : "" %></textarea>
          </div>

          <div class="col-12">
            <label for="price" class="form-label"
              >Price:<span class="asteric">*</span></label
            >
            <input
              type="number"
              class="form-control"
              id="price"
              name="price"
              placeholder="Enter the price of your game"
              value='<%= typeof game != "undefined" ? game.price : "" %>'
            />
          </div>

          <div class="col-12">
            <div>
              <label for="genre" class="form-label"
                >Game Genre:<span class="asteric">*</span>
              </label>
            </div>
            <div>
              <select class="form-select" id="genre" name="genre">
                <option selected>Open this select menu</option>
                <option <% if (typeof game != "undefined" && game.genre == "Action") { %> selected <% } %> value="Action">Action</option>
                <option <% if (typeof game != "undefined" && game.genre == "Adventure") { %> selected <% } %> value="Adventure">Adventure</option>
                <option <% if (typeof game != "undefined" && game.genre == "Cards") { %> selected <% } %> value="Cards">Cards</option>
                <option <% if (typeof game != "undefined" && game.genre == "Casual") { %> selected <% } %> value="Casual">Casual</option>
                <option <% if (typeof game != "undefined" && game.genre == "Comedy") { %> selected <% } %> value="Comedy">Comedy</option>
                <option <% if (typeof game != "undefined" && game.genre == "Exploration") { %> selected <% } %> value="Exploration">Exploration</option>
                <option <% if (typeof game != "undefined" && game.genre == "Fantasy") { %> selected <% } %> value="Fantasy">Fantasy</option>
                <option <% if (typeof game != "undefined" && game.genre == "Fighting") { %> selected <% } %> value="Fighting">Fighting</option>
                <option <% if (typeof game != "undefined" && game.genre == "FPS") { %> selected <% } %> value="FPS">FPS</option>
                <option <% if (typeof game != "undefined" && game.genre == "Horror") { %> selected <% } %> value="Horror">Horror</option>
                <option <% if (typeof game != "undefined" && game.genre == "Indie") { %> selected <% } %> value="Indie">Indie</option>
                <option <% if (typeof game != "undefined" && game.genre == "MOBA") { %> selected <% } %> value="MOBA">MOBA</option>
                <option <% if (typeof game != "undefined" && game.genre == "Music") { %> selected <% } %> value="Music">Music</option>
                <option <% if (typeof game != "undefined" && game.genre == "Party") { %> selected <% } %> value="Party">Party</option>
                <option <% if (typeof game != "undefined" && game.genre == "Platformer") { %> selected <% } %> value="Platformer">Platformer</option>
                <option <% if (typeof game != "undefined" && game.genre == "Puzzle") { %> selected <% } %> value="Puzzle">Puzzle</option>
                <option <% if (typeof game != "undefined" && game.genre == "Racing") { %> selected <% } %> value="Racing">Racing</option>
                <option <% if (typeof game != "undefined" && game.genre == "Retro") { %> selected <% } %> value="Retro">Retro</option>
                <option <% if (typeof game != "undefined" && game.genre == "RPG") { %> selected <% } %> value="RPG">RPG</option>
                <option <% if (typeof game != "undefined" && game.genre == "Shooter") { %> selected <% } %> value="Shooter">Shooter</option>
                <option <% if (typeof game != "undefined" && game.genre == "Simulation") { %> selected <% } %> value="Simulation">Simulation</option>
                <option <% if (typeof game != "undefined" && game.genre == "Space") { %> selected <% } %> value="Space">Space</option>
                <option <% if (typeof game != "undefined" && game.genre == "Sports") { %> selected <% } %> value="Sports">Sports</option>
                <option <% if (typeof game != "undefined" && game.genre == "Stealth") { %> selected <% } %> value="Stealth">Stealth</option>
                <option <% if (typeof game != "undefined" && game.genre == "Strategy") { %> selected <% } %> value="Strategy">Strategy</option>
                <option <% if (typeof game != "undefined" && game.genre == "Survival") { %> selected <% } %> value="Survival">Survival</option>
                <option <% if (typeof game != "undefined" && game.genre == "Trivia") { %> selected <% } %> value="Trivia">Trivia</option>
              </select>
            </div>
          </div>
          <div class="col-12">
            <div>
              <label for="platform" class="form-label"
                >Platform:<span class="asteric">*</span>
              </label>
            </div>
            <div>
              <select class="form-select" id="platform" name="platform">
                <option selected>Open this select menu</option>
                <option <% if (typeof game != "undefined" && game.platform == "Windows") { %> selected <% } %> value="Windows">Windows</option>
                <option <% if (typeof game != "undefined" && game.platform == "MacOS") { %> selected <% } %> value="MacOS">MacOS</option>
                <option <% if (typeof game != "undefined" && game.platform == "All") { %> selected <% } %> value="All">All</option>
              </select>
            </div>
          </div>

          <div class="col-12">
            <div>
              <label class="form-label" for="sideImg">Game Poster:</label
              ><span class="asteric">*</span>
            </div>
            <div class="input-group mb-3">
              <input
                type="file"
                class="form-control"
                id="sideImg"
                name="sideImg"/>
            </div>
          </div>

        </div>