<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../public/css/footer.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-about">
                <div class="footer-logo">
                    <a href="/"><img src="../../public/images/logo.png" alt="logo" width="100px"></a>
                </div>              
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-wedget">
                <h6>Links</h6>
                <ul>
                    <li><a href="/allGames">Games </a></li>
                    <li><a href="/contactus">Contact us</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-wedget">
                <h6>Payment Methods</h6>
                <ul>
                    <li>
                        <a href="#"><img src="../../public/images/payment.png" alt="logo" width="200px"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-wedget">
                <h6>Newsletter</h6>
                <div class="footer-newslatter">
                    <p>Be the first to know about new arrivals, sales & promos!</p>
                    <form action="#">
                        <input type="text" class="footeremail" placeholder="Your Email">
                        <button type="submit"><span><i class="fa fa-envelope" arial-hidden="true"></i></span>
                            Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="footer-copyright-text">
                <p class="footertext"> Copyright &copy; 2023 All rights reserved | This website is made with love <i
                        class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/aboutUs" style="color:#fff;text-decoration:none;">Gamec Group</a></p>
            </div>
        </div>
    </div>
    <br>
</div>
</body>
</html>