<div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="index.html" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="../../public/images/logo.png" alt="logo" width="40" height="40">
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 " onsubmit="return validateSearch(this)" role="search">
                <input id="search" type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <li>
                <div class="dropdown">
                    <button type="button" class="btn dropdown text-light" data-bs-toggle="dropdown">Account
                    </button>
                    <ul class="dropdown-menu bgcolor">
                        <li><a class="dropdown-item text-light lihov" href="profile.html">Profile</a></li>
                        <li><a class="dropdown-item text-light lihov" href="library.html">Library</a></li>
                        <li><a class="dropdown-item text-light lihov" href="history.html">History</a></li>
                        <li><a class="dropdown-item text-light lihov" href="wishlist.html">Wishlist</a></li>
                    </ul>
                </div>
            </li>


            <li><a href="aboutUs.html" class="nav-link px-2 text-light mt-2">About Us</a></li>
            <li><a href="contactus.html" class="nav-link px-2 text-light mt-2">Contact Us</a></li>
            <li><a id="scrol_to" class="nav-link px-2 text-light btn mt-2">FAQs</a></li>

        </ul>
        <div class="text-end">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="login.html" class="btn btn-outline-primary mx-2" href="login.html" role="button">Login</a>
                </li>
                <li><a class="btn btn-primary" href="signup.html" role="button">Sign up</a></li>
                <li><a href="cart.html" class="nav-link px-2 text-light mt-2"><i class="bi bi-cart3"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>