<%-include('../../partials/adminHeader.ejs') %>

<div class="dashboard-page">
  <div class="container px-lg-5">
    <div class="row">
      <h1>Orders</h1>
      <table class="table table-dark table-striped" style="width: 100vw">
        <thead>
          <tr>
            <th>Order</th>
            <th>Date</th>
            <th>Status</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#3791245567 Betty Messa</td>
            <td>Mar 20, 2023</td>
            <td><span class="badge bg-primary">Completed</span></td>
            <td>$4.95</td>
          </tr>
          <tr>
            <td>#1420826271 Serecur Blocker</td>
            <td>Mar 20, 2023</td>
            <td><span class="badge bg-primary">Completed</span></td>
            <td>$35.65</td>
          </tr>
          <tr>
            <td>#3791245567 Betty Messa</td>
            <td>Mar 20, 2023</td>
            <td><span class="badge bg-primary">Completed</span></td>
            <td>$4.95</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%-include('../../partials/adminFooter.ejs') %>
