<%-include('../../partials/adminHeader.ejs') %>

<div class="dashboard-page">
  <div class="container px-lg-5">
    <div class="row">
      <h1>Products</h1>
      <table class="table table-dark table-striped" style="width: 100vw">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img
                src="https://upload.wikimedia.org/wikipedia/en/a/a5/Grand_Theft_Auto_V.png"
                alt="table-user"
                class="me-2"
                width="64px"
              />
            </td>
            <td>Grand Theft Auto V</td>
            <td>$45.99</td>
            <td>
              <button type="button" class="btn btn-outline-primary btn-sm">
                Edit
              </button>
              <button type="button" class="btn btn-outline-danger btn-sm">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%-include('../../partials/adminFooter.ejs') %>
