<%-include('../../partials/adminHeader.ejs') %>

<div class="dashboard-page">
  <div class="container px-lg-5">
    <div class="row">
      <h1>Customers</h1>
      <table class="table table-dark table-striped" style="width: 100vw">
        <thead>
          <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Order Count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-user">
              <img
                src="https://github.com/actuallyhoss.png"
                alt="table-user"
                class="me-2 rounded-circle"
                width="32px"
              />
              Ahmed Hossam
            </td>
            <td>hoss@gamec.store</td>
            <td>3</td>
          </tr>
          <tr>
            <td class="table-user">
              <img
                src="https://github.com/yehia12.png"
                alt="table-user"
                class="me-2 rounded-circle"
                width="32px"
              />
              Ahmed Yehia
            </td>
            <td>yehia@gamec.store</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%-include('../../partials/adminFooter.ejs') %>
